{'blasphemous': 'bluźnierczy'},
{'grace': 'wdzięk'}, 
{'gluttony':'obżarstwo'},
{'transesophageal': 'przezprzełykowy'},
{'stent' :'stent,proteza rozszerzająca naczynie'},
{'drain':'sączkowanie'},
{'dilated renal tubule' : 'rozszerzony kanalik nerkowy'},
{'blister': 'listek tabletek'},
{'krwotok':'haemorrhage'},
{'healthcare proxy': 'pełnomocnik w sprawie decyzji medycznych'},
{'diverticular disease':'choroba uchyłkowa'},
{'focal segmental glomerulosclerosis':'ogniskowe segmentalne szkliwienie kłębuszków'},
{'labyrinth': 'błędnik'},
{'ear,nose and throat doctor,otolaryngologist' : 'otolaryngolog'},
{'roof tile': 'dachówka'},
{'fallopian tube' : 'jajowód'},
{'mrsa bacteria' : 'bakteria gronkowca złocistego'},
{'carotid aneurysm': 'tętniak tętnicy szyjnej'},
{'herpes': 'opryszczka'},
{'shingles': "półpasiec"},
{'Hemosiderin':'Hemosyderyna'},
{'cauda equina syndrom ': 'syndrom końskiego ogona'},
{'niedomykalność zastawki trójdzielnej':'triscuspid regurgitation'},



if training.mesocycle =="GPP":
a= f'Training plan for Week I will consist of {gppsets1[0]}, {gppsets1[1]} sets of total reps {gpprepsrange1[0]}-{gpprepsrange1[1]}, in {m} ,at {gppfirstweek[0]} kg,  {gppfirstweek[1]}kg, {gppfirstweek[2]}kg.'
b= f'Week II will consist of {gppsets2[0]}, {gppsets2[1]} sets of total reps {gpprepsrange2[0]}-{gpprepsrange2[1]} in {m}, at {gppsecondweek[0]}kg,  {gppsecondweek[1]}kg, {gppsecondweek[2]}kg.'
c= f'Week III is a deload week - divert your efforts into weak links!'
d= f''
    
if training.mesocycle =="ACC" :
a = f'Training plan for Week I will consist of {accsets1[0]}, {accsets1[1]} sets of total reps {accrepsrange1[0]}-{accrepsrange1[1]}, in {m} ,at {accfirstweek[0]} kg,  {accfirstweek[1]}kg, {accfirstweek[2]}kg.'
b=  f'Week II will consist of {accsets2[0]}, {accsets2[1]} sets of total reps {accrepsrange2[0]}-{accrepsrange2[1]} in {m}, at {accsecondweek[0]}kg,  {accsecondweek[1]}kg, {accsecondweek[2]}kg.'
c=  f'Week III will consist of {accsets3[0]}, {accsets3[1]} sets of total reps {accrepsrange3[0]}-{accrepsrange3[1]} in {m}, at {accthirdweek[0]}kg,  {accthirdweek[1]}kg, {accthirdweek[2]}kg.'
d=  f'Week IV is a deload week - divert your efforts into weak links!'

if mesocycle =='PEAK':

a=f'Start tapering - minimum reps ,high- intensity around 85% to 95%'
b=f'More frequency in intense training session,yet allowing body to be fresh'
c=f'Allow body to supercompensate before maxing out !'
d=f''

<div class="overlay">


<div class="text">Our Body Is Love</div>

